*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

section{
    display: flex;
    justify-content: center;
    min-height: 10vh;
    
    filter: hue-rotate(70deg);
}

.loader
{
    position: relative;
    margin-top: 50px;
    margin-right: 60px;
    
    
}

.loader span{
    position: absolute;
    top: 0;
    left: -40px;
    width: 40px;
    height: 2px;
    
    transform-origin: right;
    transform: rotate(calc(18deg * var(--i)));
}

.loader span::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #00ff44;
    border-radius: 50%;
   box-shadow: 0 0 10px #ffee00,
   0 0 20px #fff200,
   0 0 40px #e1ff00,
   0 0 60px #ffcc00,
   0 0 80px #ffbb00,
   0 0 100px #ffc800;
    animation: animate 5s linear infinite;
    animation-delay: calc(-0.5s *var(--i));

}

@keyframes animate
{
    0%
    {
        transform: translateX(200px) scale(1);
        opacity: 0;
    }

    10%
    {
        opacity: 1;
    }

    40%
    {
        opacity: 1;
    }

    10%
    {
       transform: translateX(0px) scale(0); 
       opacity: 1; 
    }
}

.bb{
    margin-bottom: 0px;
   
}

.buttonholder a{
    color: white;
}

.cc{
    width: 100px auto;
    height: 50px;
    font-size: 15px;
    border-radius: 50px;
    background-color: rgb(255, 0, 106);
    border: none;
    color: white;
    margin-right: 50px;
    margin-left: 300px;
}

.cc:hover{
   box-shadow: 0px 0px 30px rgb(255, 81, 0);
   cursor: pointer;
}

.cc:active{
    background-color: rgb(255, 157, 0);
    color: white;
}

.dd{
     width: 100px auto;
    height: 50px;
    font-size: 15px;
    border-radius: 50px;
    background-color: rgb(0, 72, 255);
    border: none;
    color: white;
    margin-right: 50px;
}

.dd:hover{
    background-color: rgb(46, 0, 132);
    color:rgb(255, 255, 255);
    cursor: pointer;
}

.dd:active{
    color: white;
    background-color: blue;
}

.ee{
   width: 100px auto;
    height: 50px;
    font-size: 15px;
    border-radius: 50px;
    background-color: rgb(0, 0, 0);
    border: none;  
    color: white;
    margin-right: 50px;
}

.ee:hover{
    box-shadow: 10px 10px 0px rgb(1, 198, 247);
    cursor: pointer;
}

.ee:active{
    box-shadow: 10px 0px 0px rgb(255, 0, 0);
}

.ff{
     width: 100px auto;
    height: 50px;
    font-size: 15px;
    border-radius: 50px;
    background-color: rgb(255, 0, 0);
    border: none;
    color: white;
    margin-right: 50px;
}

.ff:hover{
    opacity: 0.6;
    cursor: pointer;
}

.ff:active{
    opacity: 1;
}

.buttonholder{
    margin-top: 10px;
}

.buttonholder,.cc,dd,a{
    text-decoration: none;
}

.gg{
    font-size: 30px;
    text-align: center;
    margin-top: 60px;
}

.hh{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.ii{
    width: 300px;
}

.jj{
    width: 300px;
}

.kk{
    width: 300px;
}

.ll{
    width: 300px;
}

.mm{
    width: 300px;
}

.wallpapers{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
   column-gap: 10px;
   row-gap: 10px;
}

.nn{
    text-align: center;
    text-transform: capitalize;
    padding-top: 10px;
}

.mypart{
    text-transform: capitalize;
}

.proffesion{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}

.za{
    width: 100px;
    margin-left: 650px;
    padding-top: 10px;
}

.bm{
    position: fixed;
    display: flex;
    flex-direction: row;
  background: linear-gradient(#a109e2, #640a85, rgb(123, 8, 67));
    width: 1600px;
    height: 70px;
    top: 0px;
    left: 0px;
    right: 0px; 
}

.forth{
    text-align: center;
    font-size: 20px;
}

.welcome{
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: purple;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 60px;
}

.works{
    width: 300px;
}

.workss{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    row-gap: 30px;
    column-gap: 30px;
}

.watch{
    font-size: 25px;

}

.ending{
    width: 500px;
}

.hah{
    margin-left: 150px;
    margin-top: 30px;
}

.last{
   margin-top: 0;
}

.suu{
   margin-bottom: 0;
}

.lambo{
    text-align: center;
    font-size: 20px;
}

.laa{
    text-align: center;
    font-size: 20px;
}

.tnx{
    font-size: 20px;
}

body{
    padding-top: 20px;
    padding-left: 120px;
    padding-bottom: 30px;
   
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    padding-right: 30px;
    background: linear-gradient(#d295ed, #fa994e, rgb(64, 8, 123)); 
}

nav{
    width: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: rgb(138, 11, 58);
    position: fixed;
    box-shadow: 5px 7px 10px rgb(0, 0, 0);
    height: 500px;
    margin-top: 70px;
}

nav ul{
    position: relative;
    list-style-type: none;
}

nav ul li a{
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.15em;
    text-decoration: none;
    text-transform: capitalize;
    color: rgb(255, 143, 7);
    padding: 40px 10px;
    
    height: 50px;
    transition: .1s ease;
    border-radius: 0 30px;
}

nav ul li a:hover{
    background: rgb(255, 0, 0);
}

nav ul ul{
    position: absolute;
    left: 100px;
    width: 200px;
    top: 0;
    display: none;
    background: rgb(114, 3, 134);
    border-top-right-radius: 30px;
    box-shadow: 2px 2px 10px rgba(255, 6, 89, 0.74);
}

nav ul .dropdown{
    position: relative;

}

nav ul .dropdown:hover ul{
    display: initial;
}

nav ul .dropdown-two{
    position: relative;
}

nav ul .dropdown-two:hover ul{
    display: initial;
}

nav ul .dropdown-three{
    position: relative;
}

nav ul .dropdown-three:hover ul{
    display: initial;
}

nav ul .dropdown-four{
    position: relative;
}

nav ul .dropdown-four:hover ul{
    display: initial;
}

nav ul .dropdown-five{
    position: relative;
}

nav ul .dropdown-five:hover ul{
    display: initial;
}

.buttonholder-two{
   
  
  padding-top: 30px;
margin-left: 100px;
 padding-bottom: 100px;
 
}

.buttonholder-two a{
    color: white;
}

.cc2{
    width: 100px;
    height: 30px;
    font-size: 15px;
    border-radius: 50px;
    background-color: rgb(255, 0, 106);
    border: none;
    color: white;
    margin-right: 20px;
   
}

.cc2:hover{
   box-shadow: 0px 0px 30px rgb(255, 81, 0);
   cursor: pointer;
}

.cc2:active{
    background-color: rgb(255, 157, 0);
    color: white;
}

.dd2{
     width: 100px;
    height: 30px;
    font-size: 15px;
    border-radius: 50px;
    background-color: rgb(0, 72, 255);
    border: none;
    color: white;
    margin-right: 20px;
}

.dd2:hover{
    background-color: rgb(46, 0, 132);
    color:rgb(255, 255, 255);
    cursor: pointer;
}

.dd2:active{
    color: white;
    background-color: blue;
}

.ee2{
   width: 100px;
    height: 30px;
    font-size: 15px;
    border-radius: 50px;
    background-color: rgb(0, 0, 0);
    border: none;  
    color: white;
    margin-right: 20px;
}

.ee2:hover{
    box-shadow: 10px 10px 0px rgb(1, 198, 247);
    cursor: pointer;
}

.ee2:active{
    box-shadow: 10px 0px 0px rgb(255, 0, 0);
}

.ff2{
     width: 100px;
    height: 30px;
    font-size: 15px;
    border-radius: 50px;
    background-color: rgb(255, 0, 0);
    border: none;
    color: white;
    
}

.ff2:hover{
    opacity: 0.6;
    cursor: pointer;
}

.ff2:active{
    opacity: 1;
}

.aspire{
    color: white;
   
}


@media (max-width: 1048px) {
    .works{
    width: 150px;

    }

    .workss{
        display: grid;
        grid-template-columns: 150px 150px;
       row-gap: 4px;
       column-gap: 4px;
       
    }

    .nn{
        text-align: center;
        text-transform: capitalize;
        padding-top: 10px;
    }
    
    .mypart{
        text-transform: capitalize;
        
    }
    
    .proffesion{
        font-family: Arial, Helvetica, sans-serif;
        text-transform: capitalize;
        width: 300px;
    }

    .wallpapers{
        display: grid;
        grid-template-columns: 150px 150px;
       column-gap: 4px;
       row-gap: 4px;
    }

    .ii{
        width: 150px;
    }
    
    .jj{
        width: 150px;
    }
    
    .kk{
        width: 150px;
    }
    
    .ll{
        width: 150px;
    }
    
    .mm{
        width: 150px;
    }
    
    .cc{
        width: 30px auto;
        height: 50px;
        font-size: 15px;
        border-radius: 50px;
        background-color: rgb(255, 0, 106);
        border: none;
        color: white;
        margin-right: 5px;
        margin-left: 5px;
    }
    
    .cc:hover{
       box-shadow: 0px 0px 30px rgb(255, 81, 0);
       cursor: pointer;
    }
    
    .cc:active{
        background-color: rgb(255, 157, 0);
        color: white;
    }
    
    .dd{
         width: 30px auto;
        height: 50px;
        font-size: 15px;
        border-radius: 50px;
        background-color: rgb(0, 72, 255);
        border: none;
        color: white;
        margin-right: 5px;
    }
    
    .dd:hover{
        background-color: rgb(46, 0, 132);
        color:rgb(255, 255, 255);
        cursor: pointer;
    }
    
    .dd:active{
        color: white;
        background-color: blue;
    }
    
    .ee{
       width: 30px auto;
        height: 50px;
        font-size: 15px;
        border-radius: 50px;
        background-color: rgb(0, 0, 0);
        border: none;  
        color: white;
        margin-right: 5px;
    }
    
    .ee:hover{
        box-shadow: 10px 10px 0px rgb(1, 198, 247);
        cursor: pointer;
    }
    
    .ee:active{
        box-shadow: 10px 0px 0px rgb(255, 0, 0);
    }
    
    .ff{
         width: 30px auto;
        height: 50px;
        font-size: 15px;
        border-radius: 50px;
        background-color: rgb(255, 0, 0);
        border: none;
        color: white;
        margin-right: 5px;
    }
    
    .ff:hover{
        opacity: 0.6;
        cursor: pointer;
    }
    
    .ff:active{
        opacity: 1;
    }

    .uvideo{
        width: 300px;
        height: 200px;
    }

    .hah{
    margin-left: 1px;
        margin-top: 10px;
    }

    .ending{
        width: 300px;
    }

    .za{
        width: 100px;
        margin-left: 120px;
        padding-top: 10px;
    }

    .superias{
        width: 300px;
    }

    .suu{
        margin-top: 20px;
    }

    .szaa{
        visibility: collapse;
    }

    .buttonholder-two{
   
  
  padding-top: 30px;
margin-left: 100px;
 padding-bottom: 100px;
 
}
    
    .cc2{
        width: 100px;
        height: 30px;
        font-size: 15px;
        border-radius: 50px;
        background-color: rgb(255, 0, 106);
        border: none;
        color: white;
        margin-right: 20px;
       
    }
    
    .cc2:hover{
       box-shadow: 0px 0px 30px rgb(255, 81, 0);
       cursor: pointer;
    }
    
    .cc2:active{
        background-color: rgb(255, 157, 0);
        color: white;
    }
    
    .dd2{
         width: 100px;
        height: 30px;
        font-size: 15px;
        border-radius: 50px;
        background-color: rgb(0, 72, 255);
        border: none;
        color: white;
        margin-right: 20px;
    }
    
    .dd2:hover{
        background-color: rgb(46, 0, 132);
        color:rgb(255, 255, 255);
        cursor: pointer;
    }
    
    .dd2:active{
        color: white;
        background-color: blue;
    }
    
    .ee2{
       width: 100px;
        height: 30px;
        font-size: 15px;
        border-radius: 50px;
        background-color: rgb(0, 0, 0);
        border: none;  
        color: white;
        margin-right: 20px;
    }
    
    .ee2:hover{
        box-shadow: 10px 10px 0px rgb(1, 198, 247);
        cursor: pointer;
    }
    
    .ee2:active{
        box-shadow: 10px 0px 0px rgb(255, 0, 0);
    }
    
    .ff2{
         width: 100px;
        height: 30px;
        font-size: 15px;
        border-radius: 50px;
        background-color: rgb(255, 0, 0);
        border: none;
        color: white;
        
    }
    
    .ff2:hover{
        opacity: 0.6;
        cursor: pointer;
    }
    
    .ff2:active{
        opacity: 1;
    }

body{
   width: 450px;
   margin-right: 20px;
   padding-left: 100px;
   
}

nav{
    width: 80px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: rgb(138, 11, 58);
    position: fixed;
    box-shadow: 5px 7px 10px rgb(0, 0, 0);
    height: 500px;
    margin-top: 70px;
}

